<!DOCTYPE html>
<html>
<title>YANG GANG HATS</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin=""></script>

<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
  background-color: #00ffff;
}
{% load static %}
/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("{% static "images/yanggang/yang_background.png" %}");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
  background-color: #00ffff;
}
.w3-top{
  background-color: #00ffff;
}
.fa {
  color: #f81ca0;
}

</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-card" id="myNavbar">
    <!-- Right-sided navbar links -->
    <div class="w3-right w3-hide-small">
      <a href="#hats" class="w3-bar-item w3-button"><i class="fa fa-graduation-cap"></i> <font color=#f81ca0>HATS</font></a>
      <a href="#purchase" class="w3-bar-item w3-button"><i class="fa fa-shopping-cart"></i> <font color=#f81ca0>PURCHASE</font></a>
      <a href="#about" class="w3-bar-item w3-button"><i class="fa fa-info-circle"></i><font color=#f81ca0>ABOUT</font></a>
      <a href="#contact" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> <font color=#f81ca0>CONTACT</font></a>
    </div>
    <!-- Hide right-floated links on small screens and replace them with a menu icon -->

    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>

<!-- Sidebar on small screens when clicking the menu icon -->
<nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
  <a href="#hats" onclick="w3_close()" class="w3-bar-item w3-button">HATS</a>
  <a href="#purchase" onclick="w3_close()" class="w3-bar-item w3-button">PURCHASE</a>
  <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button">ABOUT</a>
  <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button">CONTACT</a>
</nav>

<!-- Divider -->
<div class="w3-container w3-row w3-center w3-purple w3-padding-24">
</div>
<!-- Header with full-height image -->
<header class="bgimg-1 w3-display-container" id="home">
</header>

<!-- Hat Section -->
<div class="w3-container" style="padding:64px 16px" id="hats">
  <h3 class="w3-center">Yang Gang Meme Hats</h3>
  <p class="w3-center w3-large">Show your support for the future president with an authentic neon pink vaporwave painters cap!</p>
  <div class="w3-row-padding w3-center" style="margin-top:64px">
    <div class="w3-quarter">
      <img src='{% static "images/yanggang/Yang_Hat_Front_View.png" %}' style="width:50%">
      <p class="w3-large">Front View</p>
      <p>The front displays the iconic vaporwave logo along with the painters cap style which creates the most authentic Yang pink hat to date.</p>
    </div>
    <div class="w3-quarter">
      <img src='{% static "images/yanggang/Yang_Hat_Side_View.png" %}' style="width:50%">
      <p class="w3-large">Side View</p>
      <p>The side has the signiture slogan "Secure the bag". </p>
    </div>
    <div class="w3-quarter">
      <img src='{% static "images/yanggang/Yang_Hat_Back_View.png" %}' style="width:50%">
      <p class="w3-large">Back View</p>
      <p>The hat is made out of neon pink nylon and has elestic in the back to help stretch out to occomidate a wide range of head sizes.</p>
    </div>
    <div class="w3-quarter">
      <img src='{% static "images/yanggang/Yang_Hat_Bottom_View.png" %}' style="width:50%">
      <p class="w3-large">Under Neath View</p>
      <p>Underneath the brim of the hat there is reminder printed "Forward" to remember its not left or right its forward!
      </p>
    </div>
  </div>
</div>

<!-- Divider -->
<div class="w3-container w3-row w3-center w3-purple w3-padding-64">
</div>

<!-- Load Stripe.js on your website. -->
<script src="https://js.stripe.com/v3"></script>

<!-- Purchase Section -->
<div class="w3-container" style="padding:64px 16px" id="purchase">
  <h3 class="w3-center">Purchase a Hat Today!</h3>
  <div class="w3-row-padding w3-center" style="margin-top:64px">
    <img src='{% static "images/yanggang/Yang_Hat_Front_View.png" %}'  style="width:25%">
  </div>
  <div class="w3-row-padding w3-center" style="margin-top:64px">
    <!-- Create a button that your customers click to complete their purchase. Customize the styling to suit your branding. -->
    <button
      style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
      id="checkout-button-sku_FRsYgY0zy6dWXA"
      role="link"
    >
      Purchase a Medium Hat (56cm) for $20.20
    </button>
    <!-- Create a button that your customers click to complete their purchase. Customize the styling to suit your branding. -->
    <button
      style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
      id="checkout-button-sku_FRsYnYmTTAnJUP"
      role="link"
    >
      Purchase a Large Hat (56cm) for $20.20
    </button>
    <p class="w3-small">Note: Hats will be shipped to your billing address.
      In order to ship to a different address email admin@yangpinkhats2020.com with your email and
      billing address you used to complete your order along with the updated shipping address.</p>
  </div>
</div>

<div id="error-message"></div>

<script>
  var stripe = Stripe('pk_live_IsgWdjMjVQqUph0GluiCLIYa005S2gLMIS');

  var checkoutButton = document.getElementById('checkout-button-sku_FRsYgY0zy6dWXA');
  checkoutButton.addEventListener('click', function () {
    // When the customer clicks on the button, redirect
    // them to Checkout.
    stripe.redirectToCheckout({
      items: [{sku: 'sku_FRsYgY0zy6dWXA', quantity: 1}],

      // Do not rely on the redirect to the successUrl for fulfilling
      // purchases, customers may not always reach the success_url after
      // a successful payment.
      // Instead use one of the strategies described in
      // https://stripe.com/docs/payments/checkout/fulfillment
      billingAddressCollection: 'required',
      successUrl: 'https://yangpinkhats2020.com/success',
      cancelUrl: 'https://yangpinkhats2020.com/canceled',
    })
    .then(function (result) {
      if (result.error) {
        // If `redirectToCheckout` fails due to a browser or network
        // error, display the localized error message to your customer.
        var displayError = document.getElementById('error-message');
        displayError.textContent = result.error.message;
      }
    });
  });
</script>

<script>
  var stripe = Stripe('pk_live_IsgWdjMjVQqUph0GluiCLIYa005S2gLMIS');

  var checkoutButton = document.getElementById('checkout-button-sku_FRsYnYmTTAnJUP');
  checkoutButton.addEventListener('click', function () {
    // When the customer clicks on the button, redirect
    // them to Checkout.
    stripe.redirectToCheckout({
      items: [{sku: 'sku_FRsYnYmTTAnJUP', quantity: 1}],

      // Do not rely on the redirect to the successUrl for fulfilling
      // purchases, customers may not always reach the success_url after
      // a successful payment.
      // Instead use one of the strategies described in
      // https://stripe.com/docs/payments/checkout/fulfillment
      billingAddressCollection: 'required',
      successUrl: 'https://yangpinkhats2020.com/success',
      cancelUrl: 'https://yangpinkhats2020.com/canceled',
    })
    .then(function (result) {
      if (result.error) {
        // If `redirectToCheckout` fails due to a browser or network
        // error, display the localized error message to your customer.
        var displayError = document.getElementById('error-message');
        displayError.textContent = result.error.message;
      }
    });
  });
</script>



<!-- Divider -->
<div class="w3-container w3-row w3-center w3-purple w3-padding-64">
</div>

<!-- About Section -->
<div class="w3-container " style="padding:64px 16px" id="about">
<h3 class="w3-center">About www.YangPinkHats2020.com!</h3>
  <div class="w3-row-padding w3-center" style="margin-top:64px">
    <p>  The internet is full of recreations of the iconic Andrew Yang 2020 pink hats that have brought people from all sides of the
    political spectrum together.  After searching through all the recreations of the pink hats that have flooded the internet not one was able
    to capture the assence of the pink hat.  This lead me to embark on the journy of designing the closest replica yet.  I have selected
    nylon fabric that allows for the bright neon pink that the pink hats are known for.  Also being true to the pink hat design a painters
    cap style was selected to keep the form and shape of the true pink hats.</p>
  </div>
</div>

<!-- Divider -->
<div class="w3-container w3-row w3-center w3-purple w3-padding-64">
</div>

<!-- Contact Section -->
<div class="w3-container " style="padding:64px 16px" id="contact">
  <h3 class="w3-center">CONTACT</h3>
  <p class="w3-center w3-large">Got questions? Send us a message!</p>
  <div style="margin-top:48px">
    <p><i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"> </i> Email: Admin@YangPinkHats2020.com</p>
  </div>
</div>

<!-- Footer -->
<footer class="w3-center w3-purple w3-padding-64">

</footer>

<script>
// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}


// Toggle between showing and hiding the sidebar when clicking the menu icon
var mySidebar = document.getElementById("mySidebar");

function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
  } else {
    mySidebar.style.display = 'block';
  }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
}
</script>

</body>
</html>
